* {
  padding: 0;
  margin: 0;
}

body {
  background: -webkit-linear-gradient(dodgerblue, white);
  border: solid goldenrod 3px;
  height: 1000px;
}

h2 {
  font-style: oblique;
  font-family: "Fredericka the Great", cursive;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  color: goldenrod;
  text-shadow: 1px 1px 2px white, 0 0 1em dodgerblue, 0 0 0.2em dodgerblue;
}

.nav-button {
  background-color: goldenrod;
  height: 80px;
  width: 300px;
  border-radius: 20%;
  padding-left: 20px;
}

.navbar {
  padding: 20px;
}
.navbar .polling_message {
  color: white;
  margin-right: 2%;
}
.navbar .cylon_eye {
  background: -webkit-linear-gradient(white dodgerblue);
  border: solid 3px goldenrod;
  border-radius: 100%;
  opacity: 0.9px;
  height: 80px;
  width: 50%;
  transition: 0.7s;
  text-align: center;
  text-shadow: 0px 0 3px;
  padding-top: 10px;
  font-family: "Knewave", cursive;
  font-size: xx-large;
  font-style: oblique white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: 20s linear 0s infinite alternate move_eye;
  animation: 20s linear 0s infinite alternate move_eye;
}
@-webkit-keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}
@keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}

/****HEADER****/
.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Special Elite", cursive;
  font-size: x-large;
}
.container p {
  background: -webkit-linear-gradient(white, dodgerblue);
  width: 600px;
  padding: 30px;
  line-height: 1.2em;
  border: solid 3px goldenrod;
  border-radius: 20%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
}

.containerInfo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.containerInfo .info {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 3px goldenrod;
  height: 200px;
  width: 300px;
  border-top-left-radius: 30px;
}
.containerInfo .info .buttonInfo {
  font-size: x-large;
  background: goldenrod;
  border-radius: 10px;
  text-align: center;
}

.coordonnee {
  width: 50%;
  float: left;
  height: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: -webkit-linear-gradient(white, dodgerblue);
  border: solid 3px goldenrod;
  border-radius: 30%;
}

.formulaire {
  font-size: x-large;
}

.language {
  width: 50%;
  float: right;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.language ul {
  background: -webkit-linear-gradient(white, dodgerblue);
  border: solid 3px goldenrod;
  border-radius: 50%;
  padding: 20px;
  list-style-type: none;
  width: 50%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Frijole", cursive;
  color: goldenrod;
  text-shadow: 1px 1px 2px white, 0 0 1em dodgerblue, 0 0 0.2em dodgerblue;
}

.container2 {
  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
}

footer {
  width: 100%;
  height: 100px;
  padding-left: 20px;
}/*# sourceMappingURL=style2.css.map */